<h1>Editar Unidade</h1>

<%= render 'form', unidade: @unidade %>

<%= link_to t('links.show'), @unidade, class: 'btn btn-dark', style: "margin-top: 1%"%> 
<%= link_to t('links.back'), unidades_path, class: 'btn btn-dark', style: "margin-top: 1%"%>
