<p id="notice"><%= notice %></p>

<h1><%= t('activerecord.models.unidade.other') %></h1>

<%= render 'tabela_campus'%>

<br>

<%= link_to t('links.newunit'), new_unidade_path, class: 'btn btn-dark' %>
