<header class="bg-primary bg-gradient text-white">
  <div class="container px-4 text-center">
    <h1 class="fw-bolder"><%= t('welcome.title') %></h1>
    <p class="lead"><%= t('welcome.subtitle') %></p>
    <a class="btn btn-lg btn-light" href="#about"><%= t('welcome.button') %></a>
  </div>
</header>
