<h1>Editing Carona</h1>

<%= render 'form', carona: @carona %>

<%= link_to t('links.show'), @carona, class: 'btn btn-sm btn-dark', style: 'margin-top: 1%' %> 
<%= link_to t('links.back'), caronas_path, class: 'btn btn-sm btn-dark', style: 'margin-top: 1%'%>
